.footer{
    margin: 0;
    background-color: $azulMarino;
    width: 100%;
    .contenido-footer{
        padding-top: calc( $separacion / 2);
        justify-content: center;
        align-items: center;
        .a-nav{
            display: block;
            align-items: center;
            justify-content: center;
            width: auto;
            nav{
                display: block;
                @include tablet{
                    padding: auto;
                    max-width: 100%;
                    width: auto;
                    display: flex;
                    justify-content: space-around;
                }
                
            }
        }
        
    }
    p{
        color: $blanco;
        text-align: center;
        margin: 0;
        padding-bottom: 1rem;
    }
}